@import "../../Styles/Schema.scss";

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121c2179;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: $bg-secondary-color;
  color: $font-color;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 520px) {
  .popup-overlay {
    padding: 20px;
  }
}
