$bg-color: #121c21;
$bg-secondary-color: #263845;
$font-color: #ffffff;
$font-secondary-color: #94b2c7;
$border: 1px solid #94b2c7;
$unactive: #9b9b9b;
$generalFont: 16px;

$bg-color-light: #e5e8eb;
$bg-secondary-color-light: #e8edf2;
$font-color-light: #0d171c;
$font-secondary-color-light: #4f7a94;
$border-light: 1px solid #e8edf2;
